video {
    object-fit: cover;
    z-index: -1;
}

#bienvenido {
    background: rgba(0, 0, 0, 0.6);
}

#divFormulario {
    background-color: rgba(255, 255, 255, 0.9);
}

#formulario {
    min-width: 400px;
    width: 80%;
}