button {
    bottom: 32px;
    right: 32px;
    z-index: 9999;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}